.form {
  width: 400px;
  padding: 25px 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: black;
}

.form-element {
  font-weight: bold;
}

.user-input {
  float: right;
  width: 70%;
}

.message {
  width: 100%;
}

#btn {
  height: 2.5em;
  width: 49%;
  border-radius: 5px;
  border: 1px solid black;
}
